.filter-item {
  width: 320px;
  height: 150px;
  overflow: visible;
  pointer-events: auto;
  transform-origin: 50% 50% 0px;
  border-radius: 5px;
  color: white;
  line-height: 90px;
  font-size: 18px;
  background: lightblue;
  text-transform: uppercase;
  letter-spacing: 2px;
}
